{% extends "base_stakeholder.html" %}

{% block title %}
    Submit a new NIS Incident Report to DfT
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-10 pl-0 my-2">
                <h4>NIS Incident Report - for DfT</h4>
                <div class="row">
                    <div class="col-md-8 pt-2">
                        <div class="border border-danger rounded p-2">
                            <h5>IMPORTANT:</h5>
                            <p>Please ensure full details are provided. Incident reports MUST be submitted 
                            within 72 of an incident being detected. Your lead inspector will follow-up with 
                            you in due course. Thank you.</p></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 pt-2">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
