{% extends "base.html" %}

{% block title %}
  Create a new Organisation
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}

  <div class="container mt-3">
    <h4>Create a new organisation</h4>
    <div class="row">
      <div class="col-md-8 pt-2 pl-0 my-2 border bg-light">
        <form method="post" action="">
          {% csrf_token %}
          {#   this is the parent form - in this case the organisation form  #}
          <div class="px-3 form-group">
            {{ form.non_field_errors }}
            <label for="{{ form.name.id_for_label }}">Name:</label>
            {{ form.name }}
            <small class="form-text text-muted">{{ form.name.help_text }}</small>
          </div>

          <div class="m-3 form-check">
            {{ form.non_field_errors }}
            {{ form.oes }}
            <label class="form-check-label" for="{{ form.oes.id_for_label }}">OES</label>
            <small class="form-text text-muted">{{ form.oes.help_text }}</small>
          </div>


          <div class="px-3 form-group">
            {{ form.non_field_errors }}
            <label for="{{ form.submode.id_for_label }}">Sub mode:</label>
            {{ form.submode }}
            <small class="form-text text-muted">{{ form.submode.help_text }}</small>
          </div>

          <div class="px-3 form-group">
            {{ form.non_field_errors }}
            <label for="{{ form.designation_type.id_for_label }}">Designation Type:</label>
            {{ form.designation_type }}
            <small class="form-text text-muted">{{ form.designation_type.help_text }}</small>
          </div>

          <div class="px-3 col-md-12 pl-0 my-2form-group">
            {{ form.non_field_errors }}
            <label for="{{ form.registered_company_name.id_for_label }}">Registered Company Name:</label>
            {{ form.registered_company_name }}
            <small class="form-text text-muted">{{ form.registered_company_name.help_text }}</small>
          </div>

          <div class="px-3 form-group">
            {{ form.non_field_errors }}
            <label for="{{ form.registered_company_number.id_for_label }}">Registered Company Number:</label>
            {{ form.registered_company_number }}
            <small class="form-text text-muted">{{ form.registered_company_number.help_text }}</small>
          </div>

          <div class="px-3 form-group">
            {{ form.non_field_errors }}
            <label for="{{ form.comments.id_for_label }}">Comments:</label>
            {{ form.comments }}
            <small class="form-text text-muted">{{ form.comments.help_text }}</small>
          </div>
      </div>
    </div>

    <h5>Address:</h5>

    <div class="row">
      <div class="col-md-8 pt-2 pl-0 my-2 border bg-light">

        {{ addresses.management_form }}
        <table>
          {% for form in addresses %}

            {% if forloop.counter > 1 %}
              <h5 class="px-3">Optional (add an alternative address):</h5>
            {% endif %}

            <div class="px-3 form-group">
              {{ form.non_field_errors }}
              <label for="{{ form.type.id_for_label }}">Address Type:</label>
              {{ form.type }}
              <small class="form-text text-muted">{{ form.type.help_text }}</small>
            </div>

            <div class="px-3 form-group">
              {{ form.non_field_errors }}
              <label for="{{ form.line1.id_for_label }}">Line 1:</label>
              {{ form.line1 }}
              <small class="form-text text-muted">{{ form.line1.help_text }}</small>
            </div>

            <div class="px-3 form-group">
              {{ form.non_field_errors }}
              <label for="{{ form.line2.id_for_label }}">Line 2:</label>
              {{ form.line2 }}
              <small class="form-text text-muted">{{ form.line2.help_text }}</small>
            </div>

            <div class="px-3 form-group">
              {{ form.non_field_errors }}
              <label for="{{ form.line3.id_for_label }}">Line 3:</label>
              {{ form.line3 }}
              <small class="form-text text-muted">{{ form.line3.help_text }}</small>
            </div>

            <div class="px-3 form-group">
              {{ form.non_field_errors }}
              <label for="{{ form.city.id_for_label }}">City:</label>
              {{ form.city }}
              <small class="form-text text-muted">{{ form.city.help_text }}</small>
            </div>

            <div class="px-3 form-group">
              {{ form.non_field_errors }}
              <label for="{{ form.county.id_for_label }}">County:</label>
              {{ form.county }}
              <small class="form-text text-muted">{{ form.county.help_text }}</small>
            </div>

            <div class="px-3 form-group">
              {{ form.non_field_errors }}
              <label for="{{ form.postcode.id_for_label }}">Postcode:</label>
              {{ form.postcode }}
              <small class="form-text text-muted">{{ form.postcode.help_text }}</small>
            </div>

            <div class="px-3 form-group">
              {{ form.non_field_errors }}
              <label for="{{ form.country.id_for_label }}">Country:</label>
              {{ form.country }}
              <small class="form-text text-muted">{{ form.country.help_text }}</small>
            </div>
          {% endfor %}
          <div class="my-3 col-md-12">
            <input class="btn btn-primary" type="submit" value="Submit">
            <a href="{% url "organisations:list"  %}" class="btn btn-danger">Cancel</a>
          </div>
        </table>
        </form>
      </div>
    </div>
  </div>

{% endblock %}



