{% extends "base.html" %}

{% block head %}
  {{ wizard.form.media }}
{% endblock %}

{% block title %}
  Create a new Organisation
{% endblock title %}

{% block content %}

  <div class="container mt-3">
  <div class="row">
    <div class="col-md-12 pl-0 my-2">
      <h4>Create a new Organisation</h4>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12 pl-0 my-2">
        <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 pt-2 border bg-light">
        <form action="" method="post">
          {% csrf_token %}
          {{ wizard.management_form }}
          {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
              {{ form }}
            {% endfor %}
          {% else %}
            <div class="form-group required">
              <label for="name">Name:</label>
              {{ wizard.form.name }}
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-check float-left">
                  {{ wizard.form.oes }}
                  <label class="form-check-label" for="oes">OES</label>
                </div>
                <div class="form-check float-right">
                  {{ wizard.form.active }}
                  <label class="form-check-label" for="active">Active?</label>
                  <br/>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="submode">Sub mode:</label>
                  {{ wizard.form.submode }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="designation_type">Designation Type:</label>
                  {{ wizard.form.designation_type }}
                  <small class="form-text text-muted">{{ wizard.form.designation_type.help_text }}</small>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="registered_company_name">Registered Company Name:</label>
                  {{ wizard.form.registered_company_name }}
                  <small class="form-text text-muted">{{ wizard.form.registered_company_name.help_text }}</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="registered_company_number">Registered Company Number:</label>
                  {{ wizard.form.registered_company_number }}
                  <small class="form-text text-muted">{{ wizard.form.registered_company_number.help_text }}</small>
                </div>
              </div>
            </div>
{#            {{ wizard.form }}#}
          {% endif %}
          {% if wizard.steps.prev %}
            <button class="btn btn-danger" name="wizard_goto_step" type="button" value="{{ wizard.steps.first }}">First Step</button>
            <button class="btn btn-primary" name="wizard_goto_step" type="button" value="{{ wizard.steps.prev }}">Previous Step</button>
          {% endif %}
          <div class="row">
            <div class="col-md-12 my-2">
              <input type="button" class="btn btn-primary" value="Next"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>



{% endblock %}
