{% extends "base.html" %}

{% block title %}
  {{ object.name }}
{% endblock %}

{% block content %}
  <div class="container mt-3">
    <div class="row">
      <div class="col-sm-12 pl-0 my-2">
        <div class="row">
          <div class="col-12">
            <h4>{{ object.name }}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h6>{{ object.submode }}</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 my-2">
            <div class="card bg-light">
              <div class="card-body">
                <div class="card-title">Company Information</div>
                <div class="card-text">
                  <div>
                    <table class="table">
                      <tr>
                        <td><strong>Designation Type:</strong></td>
                        <td>{{ object.designation_type }}</td>
                      </tr>
                      <tr>
                        <td><strong>OES:</strong></td>
                        {% if object.oes %}
                          <td>Yes</td>
                        {% else %}
                          <td><span class="text-danger">No</span></td>
                        {% endif %}
                      </tr>
                      <tr>
                        <td><strong>Registered Company Name:</strong></td>
                        <td>{{ object.registered_company_name }}</td>
                      </tr>
                      <tr>
                        <td><strong>Date Updated:</strong></td>
                        <td>{{ object.date_updated }}</td>
                      </tr>
                      <tr>
                        <td><strong>Updated By:</strong></td>
                        <td>REMOVED</td>
                      </tr>
                      <tr>
                        <td><strong>Active:</strong></td>
                        <td>{{ object.active }}</td>
                      </tr>
                      <tr>
                        <td><strong>Comments:</strong></td>
                        <td>{{ object.comments }}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-md-12 my-2">
            <div class="card bg-light">
              <div class="card-body">
                <div class="card-title">NIS Systems <a
                  href="{% url "caf:as_create_from_org" object.slug %}" class="btn btn-primary btn-sm float-right">Add
            new...</a></div>
                  <div class="table table-responsive">
                    <table class="table">
                      {% if applicable_systems|length > 0 %}
                        {% for ass in applicable_systems %}
                          <tr>
                            <td><a href="{% url "caf:ass_detail" ass.id %}">{{ ass.name }}</a></td>
                            <td>{{ ass.function }}<br>
                              <a href="{% url "caf:detail" ass.caf.pk %}" class="small">
                                {{ ass.caf }}
                              </a> <span class="text-muted"> | <a href="#" class="small">Edit System</a></span>
                            </td>
                          </tr>
                        {% endfor %}
                      {% else %}
                        <a class="btn btn-primary" href="{% url "caf:as_create_from_org" object.slug %}" role="button">Add
                          new...</a>
                      {% endif %}
                    </table>
                  </div>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12 my-2">
            <div class="card bg-light">
              <div class="card-body">
                <div class="card-title">OES Engagements<a href="{% url "register:create" %}" class="btn btn-primary btn-sm float-right">Add
            new...</a></div>
                  <div class="table table-responsive">
                    <table class="table">
                      {% if engagement_events|length > 0 %}
                        {% for event in engagement_events %}
                          <tr>
                            <td><a href="#">{{ event.type}}</a></td>
                            <td>{{ event.short_description }}</td>
                          </tr>
                        {% endfor %}
                      {% else %}
                        <a class="btn btn-primary" href="{% url "register:create" %}" role="button">Add
                          new...</a>
                      {% endif %}
                    </table>
                  </div>
              </div>
            </div>
          </div>
      </div>
        <div class="row">
          <div class="col-12 mt-3">
            <h4>Addresses</h4>
          </div>
        </div>
        <div class="row">
          {% if no_addr > 1 %}
            {% for a in addr %}
              <div class="col-md-7 my-2">
                <div class="card bg-light">
                  <div class="card-body">
                    <div class="card-title text-muted mb-1">{{ a.type }}</div>
                    <div>
                      <table class="table-condensed">
                        <tr>
                          <td>{{ a.line1 }} {{ a.line2 }}</td>
                        </tr>
                        <tr>
                          <td>{{ a.line3 }}</td>
                        </tr>
                        <tr>
                          <td>{{ a.city }}</td>
                        </tr>
                        <tr>
                          <td>{{ a.county }}</td>
                        </tr>
                        <tr>
                          <td>{{ a.postcode }}</td>
                        </tr>
                        <tr>
                          <td>{{ a.country }}</td>
                        </tr>
                        <tr>
                          <td>
                            <div class="text-muted mb-1 mt-2">Notes:</div>
                            {{ a.other_details }}
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class="col-md-7 my-2">
              <div class="card bg-light">
                <div class="card-body">
                  <div class="card-title mb-1 text-muted">{{ addr.type }}</div>
                  <div class="table-responsive">
                    <table class="table-condensed">
                      <tr>
                        <td>{{ addr.line1 }} {{ addr.line2 }}</td>
                      </tr>
                      <tr>
                        <td>{{ addr.line3 }}</td>
                      </tr>
                      <tr>
                        <td>{{ addr.city }}</td>
                      </tr>
                      <tr>
                        <td>{{ addr.county }}</td>
                      </tr>
                      <tr>
                        <td>{{ addr.postcode }}</td>
                      </tr>
                      <tr>
                        <td>{{ addr.country }}</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="text-muted mb-1 mt-2">Notes:</div>
                          {{ addr.other_details }}
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="row">
          <div class="col-12 mt-3">
            <h4>People</h4>
          </div>
        </div>
        <div class="row">
          {% for p in people %}
            <div class="col-md-7 my-2">
              <div class="card bg-light">
                <div class="card-body">
                  <h5 class="card-title">{{ p.first_name }} {{ p.last_name }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ p.job_title }}</h6>
                  <div class="table-responsive">
                    <table class="table">
                      <tr>
                        <td>Primary NIS Contact:</td>
                        {% if p.primary_nis_contact %}
                          <td class="text-success">Yes</td>
                        {% else %}
                          <td>No</td>
                        {% endif %}
                      </tr>
                      <tr>
                        <td>Email:</td>
                        <td><a href="mailto:{{ p.email }}">{{ p.email }}</a></td>
                      </tr>
                      <tr>
                        <td>Mobile:</td>
                        <td>{{ p.mobile }}</td>
                      </tr>
                      <tr>
                        <td>Landline:</td>
                        <td>{{ p.landline }}</td>
                      </tr>
                      <tr>
                        <td>Clearance:</td>
                        <td>{{ p.clearance }}</td>
                      </tr>
                      <tr>
                        <td>Clearance Expiry:</td>
                        <td>{{ p.clearance_expiry }}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
