{% extends "base.html" %}
{% load static %}

{% block title %} People {% endblock %}

{% block content %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="application/javascript">
    $(document).ready(function () {
      $('#datatable').DataTable({
        ordering: true,
        searching: true,
        buttons: true,
        dom: 'B<"clear">lfrtip',
        paging: false,
      });
    });
  </script>

  <div class="col-12 m-2">
  <h3>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor"
         xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
            d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
    </svg>
    People
  </h3> <span><a href="#">[Create new...]</a></span>
  <p>Use the search box to filter the table. The table can be exported in various formats using the buttons below. These
    downloads will respect the filtering used.</p>
  <div class="row justify-content-center">
    <div class="col-md-12 my-2">
      <table id="datatable" class="table table-bordered" style="width: 100%">
        <thead>
        <tr>
          <th>Person</th>
          <th>NIS Responsible</th>
          <th>Organisation</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Contact History</th>
        </tr>
        </thead>
        {% for p in object_list %}
          <tr>
            <td><a href="{% url "organisations:person-detail" p.pk %}">{{ p.first_name }} {{ p.last_name }}</a></td>
            <td>
              {% if p.primary_nis_contact %}
                <span class="badge badge-pill badge-success">NIS Primary Contact</span>
              {% elif p.voluntary_point_of_contact %}
                Voluntary Point of Contact
              {% else %}
                &nbsp;
              {% endif %}
            </td>
            <td><a href="{% url "organisations:detail" p.organisation.slug %}">{{ p.organisation.name }}</a></td>
            <td>{{ p.mobile }}</td>
            <td><a href="mailto:{{ p.email }}">{{ p.email }}</a></td>
            <td><a href="#">Contact History</a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

{% endblock content %}
