{% extends "base.html" %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">ctrack</h1>
      <p><strong>DfT's Cyber Compliance Team's proof of concept information management system</strong>, used to track
        all core
        components of the NIS regime.</p>
      <p>ctrack is developed in-house by the Cyber Compliance
        Team at the UK Department for Transport that aims to demonstrate the improvements in workflow possible by
        storing data associated with OES and its associated CAF data in a relational database. It focuses on the
        absolute basics of managing any business data: Create, Read, Update, Delete (CRUD) functionality and
        demonstrates how collection and analysis of ongoing assessment data - using the CAF as the foundation (the
        framework, not the spreadsheet) - can be exponentially improved using the simplest of form-based web
        application.</p>
      <p><a href="#">NIS Directive</a> | <a href="#">NCSC NIS Guidance</a> | <a href="#">UK Cyber Strategy</a> | <a
              href="#">CCT
        TiME</a></p>
      <div class="col-12 p-2">
        <div class="row row-cols-2">
          <div class="col-sm-12 m-1 border rounded p-2">
            <h3 class="mb-3">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor"
                   xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
              </svg>
              OES/Organisations
            </h3>
            <p>There are currently <span class="lead font-weight-bold">{{ no_orgs }}</span> <a
                    href="{% url "organisations:list" %}">organisations</a> on ctrack, of which <span
                    class="lead font-weight-bold">{{ no_oes }}</span> are <a href="{% url "organisations:list_oes" %}">OES</a>,
              comprising <span
                      class="lead font-weight-bold">{{ no_people }}</span> <a href="{% url "organisations:people" %}">people</a>.
              OES are responsible for <span class="lead font-weight-bold">{{ no_essential_services }}</span> NIS <a
                      href="#">essential services</a>. There have been a total of <span
                      class="lead font-weight-bold">{{ no_singledatetime_events }}</span> interactions with OES by
              inspectors,
              including <span class="lead font-weight-bold">{{ no_emails }}</span> emails, <span
                      class="lead font-weight-bold">{{ no_phone_calls }}</span>
              phone calls, <span class="lead font-weight-bold">{{ no_video_conferences }}</span> video conferences, and
              <span
                      class="lead font-weight-bold">{{ no_meetings }}</span> meetings.</p>
            <p class="small">Use these high level lists to view things by <strong>lead inspector</strong>, <strong>sub-mode</strong>
              and other attributes:</p>

            <ul class="list-group">
              <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center"><a
                      href="{% url "organisations:list" %}">All
                organisations</a><span class="badge badge-secondary">{{ no_orgs }}</span></li>
              <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center"><a
                      href="{% url "organisations:list_oes" %}">All
                OES</a><span class="badge badge-secondary">{{ no_oes }}</span></li>
              <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center"><a
                      href="{% url "organisations:people" %}">All
                people</a><span class="badge badge-secondary">{{ no_people }}</span></li>
              <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center"><a
                      href="#">All
                essential services</a><span class="badge badge-secondary">{{ no_essential_services }}</span></li>
            </ul>
          </div>
          <div class="col-sm-12 m-1 border rounded p-2">
            <h3 class="mb-3">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-checklist" fill="currentColor"
                   xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                <path fill-rule="evenodd"
                      d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
              </svg>
              CAFs
            </h3>
            <p>There are <span class="lead font-weight-bold">{{ no_cafs }}</span> <a href="{% url "caf:caf_list" %}">CAFs</a>
              on
              ctrack, providing data on <span class="lead font-weight-bold">{{ no_systems }}</span> <a
                      href="{% url "caf:es_list" %}">critical systems</a>. Of these, <span
                      class="lead font-weight-bold">12</span> have been validated. <span
                      class="lead font-weight-bold">X</span>
              are currently undergoing validation and <span
                      class="lead font-weight-bold">X</span> are currently being updated by OES.</p>
            <p class="small">Use these high level lists to view things by <strong>lead inspector</strong>, <strong>sub-mode</strong>
              and other attributes:</p>
            <ul class="list-group">
              <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center"><a
                      href="{% url "caf:caf_list" %}">All
                CAFs</a><span class="badge badge-secondary">{{ no_cafs }}</span></li>
              <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center"><a
                      href="{% url "caf:es_list" %}">All
                critical systems</a><span class="badge badge-secondary">{{ no_systems }}</span></li>
            </ul>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-12 m-1 border rounded p-2">
            <h3 class="mb-3">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eyeglasses" fill="currentColor"
                   xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M4 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 0-4 0 2 2 0 0 0 4 0z"/>
              </svg>
              Inspectors
            </h3>
            <p>Inspectors are allocated to an organisation and can therefore be grouped by
              the sector that organisation belongs to. This usually means there is one lead
              inspector for each submode, but it is possible for an inspector to lead for an
              organistion in another sector. The applies for deputy inspector roles.</p>
            <div class="row">
              <div class="col-6">
                <h5>Lead Inspectors</h5>
                <ul class="list-unstyled">
                  {% for k, v in submode_inspector_dict.items %}
                    <li><strong>{{ k }}</strong> &nbsp; {% for x in v %}
                      <a href="{% url "organisations:list_by_inspector" x.id %}">{{ x.name }}</a> -{% endfor %}</li>
                  {% endfor %}
                </ul>
              </div>
              <div class="col-6">
                <h5>Deputy Lead Inspectors</h5>
                <ul class="list-unstyled">
                  {% for k, v in submode_deputy_inspector_dict.items %}
                    <li><strong>{{ k }}</strong> &nbsp; {% for x in v %} <a href="#">{{ x.name }}</a> -{% endfor %}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Get help using ctrack &raquo;</a></p>
    </div>
  </div>
  </div>
  </div>


  <hr>
  <div class="container">
    <div class="row mt-2"><p>ctrack source code is open source and available on <a
            href="https://github.com/yulqen/ctrack">Github</a></p></div>
  </div>

  </main>
{% endblock content %}
