{% extends "base.html" %}

{% load static %}

{% block content  %}

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 pl-0 my-2">
                <h1>Welcome to ctrack - Department for Transport</h1>

                <p>THIS IS A TEMPLATE FOR A STAKEHOLDER USER</p>
                <hr>
                <div class="col md-12">
                    <h2>Incident Reporting</h2>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Incident</th>
                                <th>Date</th>
                                <th>Details</th>
                                <th>Status</th>
                            </tr>
                        </thead> 
                        <tr>
                            <td>Power failure at Random Site</td>
                            <td>12 May 2020</td>
                            <td>There was a problem with some wires inside the black box at the site. 
                                There was very little we could do until someone switched the circuit breakers off, 
                                then we had to switch off the server that supplies the TLS link to the estate management 
                                system. We failed on this one, big time.</td>
                            <td><strong><span class="text-primary">RESOLVED</span></strong></td>
                        </tr>
                        <tr>
                            <td>Corruption of main database</td>
                            <td>8 December 2019</td>
                            <td>Weather got to the night-watchperson, who typed in the command to seal 
                                the compound incorrectly. This led to a deluge of sand into the minky processor 
                                which eventually wiped all data tables.</td>
                            <td><strong><span class="text-warning">UNRESOLVED</span></strong></td>
                        </tr>
                    </table>
                    <button class="btn btn-primary">Report an incident</button>
                </div>
                <hr>
                <div class="col md-12">
                    <h2>Audits and Inspections</h2>
                    <p>No recent audits or inspections<br>
                    No audits or inspections currently scheduled</p>
                </div>

                <h2>NIS systems</h2>
                <p>Table of NIS systems here...</p>

                <h2>DfT Engagement</h2>
                <p>No engagement with DfT currently scheduled</p>

            </div>
        </div>
    </div>

{% endblock content %}
