{% extends "base_stakeholder.html" %}

{% load static %}

{% block content  %}

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 pl-0 my-2">

                <h2>{{ org }} <span class="badge badge-light">{{ org.submode }}</span></h2>

                <p><span class="text-muted">{{ org.person_set.first }}</span></p>

                <p>THIS IS A TEMPLATE FOR A STAKEHOLDER USER</p>

                <div class="row">
                    <div class="col-12">
                        <div class="border border-success p-2 rounded bg-light">
                            <h5>KEY INFORMATION:</h5>
                            <p>Please note that important notices go in here. This is the NIS Directive 
                            portal for DfT. Etc.</p>
                            <p>Your lead inspector is <a href="#">Bob McKinnon</a>.</p>
                            <p>Other important messages will appear here when we deem it necessary.
                            Please ensure you remain in touch with what appears in this box because it 
                            <strong>WILL</strong> be updated periodically.</p>
                            <span class="text-muted"><a href="#">Help</a> | 
                                <a href="#">NIS Regulations</a> | 
                                <a href="#">Improvement Plan Information</a> |
                            <a href="#">Report a problem</a></span>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col md-12">
                        <h2>Incident Reporting</h2>

                        {% if irs.count > 0 %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Incident</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead> 
                                {% for ir in irs  %}
                                    <tr>
                                        <td>{{ ir.incident_type}}</td>
                                        <td>{{ ir.date_time_incident_detected }}</td>
                                        <td>{{ ir.summary }}</td>
                                        {% if ir.dft_handle_status == "QUEUED" %}
                                            <td><span class="badge badge-primary">{{ ir.dft_handle_status }}</span></td>
                                        {% elif ir.dft_handle_status == "REVIEWING"%}
                                            <td><span class="badge badge-info">{{ ir.dft_handle_status }}</span></td>
                                        {% elif ir.dft_handle_status == "WAITING"%}
                                            <td><span class="badge badge-secondary">{{ ir.dft_handle_status }}</span></td>
                                        {% else %}
                                            <td><span class="badge badge-secondary">{{ ir.dft_handle_status }}</span></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                        </table>
                        {% else %}
                            <p>No incidents reported</p>
                        {% endif %}
                        <a class="btn btn-primary" id="id_submit_incident_button" href="{% url "organisations:create_incident_report" org.slug %}">Report a NIS incident</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col md-12">
                        <h2>Audits and Inspections</h2>
                        <table class="table">
                            <thead>
                                <th scope="col">Date</th>
                                <th scope="col">Type</th>
                                <th scope="col">Location</th>
                                <th scope="col">Notes</th>
                                <th scope="col">CAF scope</th>
                                <th scope="col">Status</th>
                                <th scope="col">Report</th>
                            </thead> 
                            <tr>
                                <td>23 October 2020</td>
                                <td>Inspection</td>
                                <td>Hammersmith</td>
                                <td>Follow up to <a href="#">July call</a></td>
                                <td>
                                    <span class="badge badge-warning">A2.c</span>
                                    <span class="badge badge-danger">B2.a</span>
                                </td>
                                <td><span class="badge badge-warning">SCHEDULED</span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>5 June 2020</td>
                                <td>Audit</td>
                                <td>Hammersmith</td>
                                <td>NA</td>
                                <td>
                                    <span class="badge badge-danger">A2.c</span>
                                    <span class="badge badge-secondary">B5.c</span>
                                    <span class="badge badge-secondary">B6</span>
                                    <span class="badge badge-secondary">B7</span>
                                </td>
                                <td><span class="badge badge-success">RESOLVED</span></td>
                                <td><a href="#">DfT-NIS-2302A</a></td>
                            <tr>
                            <tr>
                                <td>19 January 2020</td>
                                <td>Meeting</td>
                                <td>Video</td>
                                <td>NA</td>
                                <td>
                                    <span class="badge badge-secondary">Obj C</span>
                                </td>
                                <td><span class="badge badge-success">RESOLVED</span></td>
                                <td></td>
                            <tr>
                        </table>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col md-12">
                        <h2>NIS systems</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">System Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">CAF</th>
                                </tr>
                            </thead>
                            {% for system in systems %}
                                <tr>
                                    <td>{{ system.name }}</td>
                                    <td>{{ system.function }}</td>
                                    <td>{{ system.caf }} | <small><a href="#">Update WebCAF</a></small></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col md-12">
                        <h2>DfT Engagement</h2>
                            {% if engagement_events|length > 0 %}
                            <table class="table table-md">
                                    <thead>
                                        <th>Date</td>
                                        <th>Event</td>
                                        <th>Description</td>
                                        <th>DfT Comments</td>
                                    </thead>
                                {% for event in engagement_events %}
                                <tr>
                                    <td>{{event.date }}</td>
                                    <td>{{ event.type}}</td>
                                    <td>{{ event.short_description }}</td>
                                    <td>{{ event.comments }}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <p>No engagement with DfT currently scheduled</p>
                            {% endif %}
                            </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}
