{% extends "base.html" %}

{% load static %}

{% block content  %}

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 pl-0 my-2">

                <h2>{{ org }} <span class="badge badge-light">{{ org.submode }}</span></h2>

                <p><span class="text-muted">{{ org.person_set.first }}</span></p>

                <p>THIS IS A TEMPLATE FOR A STAKEHOLDER USER</p>

                <div class="row">
                    <div class="col-12">
                        <div class="border border-success p-2 rounded bg-light">
                            <h5>INFORMATION NOTICE:</h5>
                            <p>Please note that important notices go in here. This is the NIS Directive 
                            portal for DfT. Etc.</p>
                            <p>Your lead inspector is <strong><a href="#">Bob McKinnon</a></strong>.</p>
                            <p>Other important messages will appear here when we deem it necessary.
                            Please ensure you remain in touch with what appears in this box because it 
                            <strong>WILL</strong> be updated periodically.</p>
                            <span class="text-muted"><a href="#">Help</a> | 
                                <a href="#">NIS Regulations</a> | 
                                <a href="#">Improvement Plan Information</a> |
                            <a href="#">Report a problem</a></span>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col md-12">
                        <h2>Incident Reporting</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Incident</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead> 
                            <tr>
                                <td>Power failure at Random Site</td>
                                <td>12 May 2020</td>
                                <td>There was a problem with some wires inside the black box at the site. 
                                    There was very little we could do until someone switched the circuit breakers off, 
                                    then we had to switch off the server that supplies the TLS link to the estate management 
                                    system. We failed on this one, big time.</td>
                                <td><strong><span class="badge badge-warning">UNRESOLVED</span></strong></td>
                            </tr>
                            <tr>
                                <td>Corruption of main database</td>
                                <td>8 December 2019</td>
                                <td>Weather got to the night-watchperson, who typed in the command to seal 
                                    the compound incorrectly. This led to a deluge of sand into the minky processor 
                                    which eventually wiped all data tables.</td>
                                <td><strong><span class="badge badge-success">RESOLVED</span></strong></td>
                            </tr>
                        </table>
                        <button class="btn btn-primary">Report a NIS incident</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col md-12">
                        <h2>Audits and Inspections</h2>
                        <table class="table">
                            <thead>
                                <th scope="col">Date</th>
                                <th scope="col">Type</th>
                                <th scope="col">Location</th>
                                <th scope="col">Notes</th>
                                <th scope="col">CAF scope</th>
                                <th scope="col">Status</th>
                            </thead> 
                            <tr>
                                <td>23/10/2020</td>
                                <td>Inspection</td>
                                <td>Hammersmith Warehouse</td>
                                <td>Follow up to <a href="#">July telephone call</a></td>
                                <td>
                                    <span class="badge badge-warning">A2.c</span>
                                    <span class="badge badge-danger">B2.a</span>
                                </td>
                                <td><span class="badge badge-warning">SCHEDULED</span></td>
                            </tr>
                            <tr>
                                <td>5/6/2020</td>
                                <td>Inspection</td>
                                <td>Hammersmith Warehouse</td>
                                <td>NA</td>
                                <td>
                                    <span class="badge badge-secondary">A3.a</span>
                                    <span class="badge badge-secondary">B5.c</span>
                                    <span class="badge badge-secondary">B6</span>
                                    <span class="badge badge-secondary">B7</span>
                                </td>
                                <td><span class="badge badge-success">RESOLVED</span></td>
                            <etr>
                        </table>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col md-12">
                        <h2>NIS systems</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">System Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">CAF</th>
                                </tr>
                            </thead>
                            {% for system in systems %}
                                <tr>
                                    <td>{{ system.name }}</td>
                                    <td>{{ system.description }}</td>
                                    <td>{{ system.caf }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col md-12">
                        <h2>DfT Engagement</h2>
                        <p>No engagement with DfT currently scheduled</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}
