{% extends "base.html" %}

{% load static %}

{% block title %}{{ object.name }}{% endblock %}
{% block content %}

  <div class="container mt-3">
    <div class="row">
      <div class="col-sm-12 pl-0 my-2">
        <div class="row">
          <h4>{{ object.name }}</h4>
        </div>
        <div class="row">
          <h5>Function</h5>
        </div>
        <div class="row">
          <p>{{ object.function }}</p>
          <p>Contained within CAF: to <a href="{% url "caf:detail" object.caf.pk %}">{{ object.caf }}</a></p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
