{% extends "base.html" %}

{% load static %}

{% block title %}{{ object.name }}{% endblock %}
{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-sm-12 pl-0 my-2">
            <div class="row">
                <h4>{{ object.name }}</h4>
            </div>
            <div class="row">
                <h5>{{ object.caf.organisation }}</h5>
              <div class="col-12 pl-0 my-2 bg-light">
                  <h2>{{ object.get_organisation }}</h2>
              </div>
            </div>
            <div class="row">
                <h5>Function/Description</h5>
            </div>
            <div class="row">
                <p>{{ object.function }}</p>
            </div>
            <div class="row">
                <div class="col-sm-12 pl-0 my-2">
                    <p>Supports Essential Services:</p>
                    <ul class="list-group list-group-flush">
                    {% for s in object.essentialservice_set.all %}
                        <li class="list-group-item"><a href="{% url "organisations:essential_service_detail" s.pk %}">{{ s.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-12 pl-0 my-2">
                <p>Relevant CAF[s]</p>
                <table class="table table-striped">
                 <thead>
                 <tr>
                   <th>CAF</th>
                   <th>Comments</th>
                 </tr>
                 </thead>
                  <tbody>
                  {% for caf in object.get_cafs %}
                    <tr>
                    <td><a href="{% url "caf:detail" caf.pk %}">{{ caf.version }}</a></td>
                    <td>{{ caf.comments }}</td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
