{% extends "base.html" %}

{% block title %}
    Add a new system for {{ organisation }}
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 pl-0 my-2">
                <h4>Add a new system for {{ organisation }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 pt-2 border bg-light">
                {% crispy form %}
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Help on Adding a new System</h5>
                            <p class="card-text">Here you can add some supplementary text if you like.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Other systems managed by <strong>{{ organisation.name }}:</strong></h5> 
                            <ul class="list-group list-group-flush">
                                {% if organisation.applicable_systems %}
                                    {% for s in organisation.applicable_systems %}
                                        <li class="list-group-item"><a href="{% url "caf:ass_detail" s.pk %}">{{ s.name }}</a></li> 
                                    {% endfor %}
                                {% else %}
                                    <p>Doesn't have any systems</p>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
