{% extends "base.html" %}

{% load static %}

{% block title %}{{ object.name }}{% endblock %}
{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-sm-6 pl-0 my-2">
            <div class="row">
                <h4>{{ object.name }}</h4>
            </div>
            <div class="row">
                <h5>{{ object.caf.organisation }}</h5>
            </div>
            <div class="row">
                <h5>Function</h5>
            </div>
            <div class="row">
                <p>{{ object.function }}</p>
            </div>
            <div class="row">
                <div class="col-sm-6 pl-0 my-2">
                    <p>Supports Essential Services:</p>
                    <ul class="list-group list-group-flush">
                    {% for s in object.essentialservice_set.all %}
                        <li class="list-group-item"><a href="{% url "organisations:essential_service_detail" s.pk %}">{{ s.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
