{% extends "base.html" %}

{% load static %}

{% block title %} CAF - All CAF Summary {% endblock %}
{% block content %}

  <div class="container">
    <div class="row">
      <h2>CAF List</h2>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table id="datatable" class="display compact cell-border" style="width:100%">
          <thead>
            <tr>
              <th>Organisation</th>
              <th>Link</th>
              <th>Sub Mode</th>
              <th>Applicable Systems</th>
            </tr>
          </thead>
          {% for caf in object_list %}
            <tr>
              <td><a href="{% url "organisations:detail" slug=caf.organisation.slug %}">{{ caf.organisation }}</a></td>
              <td><a href="{% url 'caf:detail' pk=caf.pk %}">{{ caf.version }}</a></td>
              <td>{{ caf.sub_mode }}</td>
              <td>
                <ul>
                  {% for applicable_system in caf.applicable_systems.all %}
                    <li>{{ applicable_system.name }}</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
          {% endfor %}

        </table>
      </div>
    </div>
  </div>

{% endblock %}
