{% extends "base.html" %}

{% load static %}

{% block title %}CAF Detail{% endblock %}
{% block content %}
  <div class="container">

  <div class="row">
    <h2>{{ object }}</h2>
  </div>


  <div class="row pt-3 text-info">
    <h4>CAF Basic Information</h4>
  </div>

  <div class="row">
    <div class="col-sm-12 p-2">
      <div class="card bg-light">
        <div class="card-body">
          <div class="card-title text-muted">Summary</div>
          <div class="card-text">
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <td><strong>Quality Grading:</strong></td>
                  <td>{{ object.quality_grading }}</td>
                </tr>
                <tr>
                  <td><strong>Confidence Grading:</strong></td>
                  <td>{{ object.confidence_grading }}</td>
                </tr>
                <tr>
                  <td><strong>File:</strong></td>
                  <td>{{ object.file }}</td>
                </tr>
                <tr>
                  <td><strong>Version:</strong></td>
                  <td>{{ object.version }}</td>
                </tr>
                <tr>
                  <td><strong>Triage Review Date:</strong></td>
                  <td>{{ object.triage_review_date }}</td>
                </tr>
                <tr>
                  <td><strong>Triage Review Inspector:</strong></td>
                  <td>{{ object.triage_review_inspector }}</td>
                </tr>
                <tr>
                  <td><strong>Comments:</strong></td>
                  <td>{{ object.comments }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 p-2">
      <div class="card bg-light">
        <div class="card-body">
          <div class="card-title text-muted">Assessments</div>
          <div class="card-text">
            <div class="table-responsive">
              <table class="table">
                {% for ass in assessments_and_scores %}
                  <table class="table-responsive p-2">
                    <tr>
                      <td><strong>Assessment:</strong></td>
                      <td>{{ ass.0 }}</td>
                    </tr>
                    <tr>
                      <td><strong>Assessor:</strong></td>
                      <td>{{ ass.0.completer }}</td>
                    </tr>
                    <tr>
                      <td><strong>Comments:</strong></td>
                      <td>{{ ass.0.comments }}</td>
                    </tr>
                  </table>
                  <table class="table">
                    {% for score in ass.1 %}
                      <tr>
                        <td>{{ score.caf_contributing_outcome.designation }}</td>
                        <td>{{ score.caf_contributing_outcome.name }}</td>
                        <td>{{ score.caf_contributing_outcome.description }}</td>
                        <td>{{ score.assessment_score }}</td>
                      </tr>
                    {% endfor %}
                  </table>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}



