{% extends "base.html" %}

{% load static %}

{% block title %}CAF Detail{% endblock %}
{% block content %}
  <div class="container mt-3">

  <div class="row">
    <div class="col-12">
      <h4 class="bg-info mb-2 p-2 border-top border-bottom rounded border-secondary text-white">{{ object }} <span
              class="badge badge-primary float-right">{{ object.confidence_grading }}</span>
        <span class="badge badge-primary float-right">{{ object.quality_grading }}</span></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3>Current status:</h3>
      <div class="row">
        <div class="col-md-12 m-2 p-1">
          {% if not events %}
            No events registered for this CAF.
            <span class="float-right"><a href="#" type="button" class="btn btn-outline-primary btn-sm">Register Event</a></span>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            {% for event in events %}
              {% if not event.ended %}
                <li class="list-group-item list-group-item-{{ event.badge_code }}"><a
                        href="#">{{ event.event.type }}</a>
                  <span class="float-right">Started: {{ event.event.date|date:"j M Y" }}</span></li>
              {% endif %}
            {% endfor %}
        </div>
      </div>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 my-2">
      <div class="card bg-light">
        <div class="card-body">
          <div class="card-title text-muted">CAF Basic Information</div>
          <div>
            <table class="table table-responsive">
              <tr>
                <td><strong>Organisation</strong></td>
                <td><a href="{% url 'organisations:detail' organisation.slug %}">{{ organisation }}</a></td>
              </tr>
              <tr>
                <td><strong>Quality Grading:</strong></td>
                <td>{{ object.quality_grading }}</td>
              </tr>
              <tr>
                <td><strong>Confidence Grading:</strong></td>
                <td>{{ object.confidence_grading }}</td>
              </tr>
              <tr>
                <td><strong>File:</strong></td>
                <td>{{ object.file }}</td>
              </tr>
              <tr>
                <td><strong>Version:</strong></td>
                <td>{{ object.version }}</td>
              </tr>
              <tr>
                <td><strong>Triage Review Date:</strong></td>
                <td>{{ object.triage_review_date }}</td>
              </tr>
              <tr>
                <td><strong>Triage Review Inspector:</strong></td>
                <td>{{ object.triage_review_inspector }}</td>
              </tr>
              <tr>
                <td><strong>Comments:</strong></td>
                <td>{{ object.comments }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 my-2">
      <div class="card bg-light">
        <div class="card-body">
          <div class="card-title text-muted">NIS Systems <a
                  href="{% url "caf:as_create_from_caf" object.pk %}"
                  class="btn btn-outline-primary btn-sm float-right">Add
            new...</a></div>
          <div>
            <table class="table table-responsive">
              {% if systems|length > 0 %}
                {% for system in systems %}
                  <tr>
                    <td><a href="{% url "caf:ass_detail" system.id %}">{{ system.name }}</a></td>
                    <td>{{ system.function }}<br>
                      <a href="{% url "caf:detail" system.pk %}" class="small">
                        {{ system.caf }}
                      </a> <span class="text-muted"> | <a href="#" class="small">Edit System</a></span>
                    </td>
                  </tr>
                {% endfor %}
              {% else %}
                <a class="btn btn-primary" href="{% url "caf:as_create_from_org" organisation.slug %}" role="button">Add
                  new...</a>
              {% endif %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card bg-light">
        <div class="card-body">
          <div class="card-title text-muted">CAF History <a href="#" class="btn btn-outline-primary btn-sm float-right">Add
            new...</a></div>
          <div class="table table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>Date</th>
                <th>Event</th>
                <th>Inspector</th>
                <th>Comments</th>
              </tr>
              </thead>
              <tbody>
              {% for event in object.get_events %}
                <tr>
                  <td>{{ event.date|date:"j F Y" }}</td>
                  <td>{{ event.type }}</td>
                  <td>{{ event.user }}</td>
                  <td>{{ event.comments }}</td>
                </tr>
              {% endfor %}

              <tr>

              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 my-2">
      <div class="card bg-light">
        <div class="card-body">
          <div class="card-title text-muted">Assessments</div>
          <div>
            <table class="table">
              {% for ass in assessments_and_scores %}
                <table class="table table-responsive">
                  <tr>
                    <td><strong>Assessment:</strong></td>
                    <td>{{ ass.0 }}</td>
                  </tr>
                  <tr>
                    <td><strong>Assessor:</strong></td>
                    <td>{{ ass.0.completer }}</td>
                  </tr>
                  <tr>
                    <td><strong>Comments:</strong></td>
                    <td>{{ ass.0.comments }}</td>
                  </tr>
                </table>
                <br>
                <table class="table-sm table-bordered" id="assessment-table">
                  <tr>
                    <th>Designation</th>
                    <th>Title</th>
                    <th>Outcome description</th>
                    <th>Assessment</th>
                    <th>Baseline</th>
                  </tr>
                  {% for score in ass.1 %}
                    <tr>
                      <td>{{ score.caf_contributing_outcome.designation }}</td>
                      <td>{{ score.caf_contributing_outcome.name }}</td>
                      <td>{{ score.caf_contributing_outcome.description }}</td>

                      {% if score.assessment_score == "Achieved" %}
                        <td id="achieved-cell">{{ score.assessment_score }}</td>
                      {% elif score.assessment_score == "Partially Achieved" %}
                        <td id="partially-achieved-cell">{{ score.assessment_score }}</td>
                      {% else %}
                        <td id="not-achieved-cell">{{ score.assessment_score }}</td>
                      {% endif %}

                      {% if score.baseline_assessment_score == "Achieved" %}
                        <td id="achieved-cell">{{ score.baseline_assessment_score }}</td>
                      {% elif score.baseline_assessment_score == "Partially Achieved" %}
                        <td id="partially-achieved-cell">{{ score.baseline_assessment_score }}</td>
                      {% else %}
                        <td id="not-achieved-cell">{{ score.baseline_assessment_score }}</td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                </table>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}"> {% endcomment %}
