{% extends "base.html" %}

{% load static %}

{% block title %} CAF - All CAF Summary {% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static "css/bootstrap_simplex.min.css" %}">
  <link rel="stylesheet" href="{% static "css/dataTables.bootstrap4.css" %}">
  {#  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">#}
{% endblock %}

<script src="{% static "js/jquery.dataTables.js" %}"></script>

{% block content %}


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="application/javascript">
    $(document).ready(function () {
      $('#datatable').DataTable({
        ordering: true,
        searching: true,
        buttons: true,
        dom: 'B<"clear">lfrtip',
        paging: false,
      });
    });

  </script>

  <div class="col-md-12">
  <h4>CAF List</h4>
  <div class="row">
    <div class="col-md-12 bg-light my-2 py-2">
      <table id="datatable" class="table table-bordered compact cell-border" style="width:100%">
        <thead>
        <tr>
          <th>Organisation</th>
          <th>CAF</th>
          <th>Sub Mode</th>
          <th>Applicable Systems</th>
        </tr>
        </thead>
        {% for caf in object_list %}
          <tr>
            <td><a href="{% url "organisations:detail" slug=caf.organisation.slug %}">{{ caf.organisation }}</a>
            </td>
            <td><a href="{% url 'caf:detail' pk=caf.pk %}">{{ caf }}</a></td>
            <td>{{ caf.sub_mode }}</td>
            <td>
              <ul>
                {% for applicable_system in caf.applicable_systems.all %}
                  <li><a href="{% url "caf:ass_detail" applicable_system.pk %}">{{ applicable_system.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

{% endblock %}
