{% extends  "snippets/event_form_base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block form %}
    <h3 class="mt-2">Create a Note</h3>
  <p>Notes are associated with an organisation and are not intended to be
  formal records of events should not involve any interaction with a person
    from that organisation. Use them to record observations, notes, reminders, etc</p>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Submit</button>
    <a href="{{ org.get_absolute_url }}" class="btn btn-danger" type="button">Cancel</a>
  </form>
{% endblock form %}
