{% extends "base.html" %}

{% block title %}
  Register a new OES event
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-12 pl-0 my-2">
        <h4>Register a new engagement event</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 pl-0 my-2">
       <h5 class="text-secondary">{{ org.name }}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 pt-2 border bg-light">
        {% crispy form %}
      </div>
      <div class="col-sm-5">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Help on Engagement Events</h5>
            <p class="card-text">All key events in the compliance lifecycle need to be registered.</p>
            <p class="card-text">Events can be <em>singular</em> (such as an email) or <em>periodic</em> (such as a CAF analysis period).</p>
            <p class="card-text">All events should be registered here.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
